  body {
    width: 100%;
    height: 2700px;
    background: #fff;
    margin:0;
  }

  .header {
    width: 100%;
    margin: 0 0 54px 0;
  }

  .header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 81px;
    padding: 8px 60px 0 43px;
  }

  .header__logo {
    max-width: 166px;
    max-height: 51px;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu__item, .menu-car__item,  header, main {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000;
    text-decoration: none;
  }

  .menu-car__item, .menu__item, .header__burger-label, .preview__order {
    cursor: pointer;
  }

  .menu-car__item, .menu__item {
    position: relative;
  }

  .menu-car__item::after, .menu__item::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #E51937;
    content: "";
    opacity: 0;
    transform: translateY(12px);
    transition: transform 0.2s, color 0.3s;
    border-radius: 0 0 2px 2px;
  }

  .menu-car__item:hover, .menu__item:hover {
      color: #E51937;
  }

  .menu-car__item:hover::after, .menu__item:hover::after {
    opacity: 1;
    transform: translateY(8px);
  }

  .menu-car__item:first-child {
    left: -91px;
  }

  .menu-car__item:nth-child(2) {
    left: -31px;
  }

  .menu-car__item:nth-child(3) {
    left: -12px;
  }

  .menu-car__item:nth-child(4) {
    left: 30px;
  }

  .menu-car__item:last-child {
    left: 71px;
  }

  .menu__item:first-child {
    right: 58px;
  }

  .menu__item:last-child {
    right: 30px;
  }

  #header__toggle {
    display: none;
  }

  .header__burger-label {
    display: block;
    position: relative;
    width:24px;
    height: 15px;
    z-index: 3;
    transition: 0.5s ease;
  }

  .header__burger-label::before,
  .header__burger-label::after {
    width: 100%;
    height: 2px;
    background-color: #E51937;
    content: "";
    position: absolute;
    left: 0;
    transition: 0.5s ease;
  }

  .header__burger-label::before {
    top: 0;
  }

  .header__burger-label::after {
    bottom: 0;
  }

  .header__burger-label span {
    position: absolute;
    background-color: #E51937;
    left: 0;
    width: 100%;
    height: 2px;
    top:7px;
  }

  .preview__header{
    font-size: 90px;
    line-height: 90px;
    text-align: center;
    margin:0;
  }

  .preview__greeting {
    font-weight: 500;
    margin:0;
    text-align: center;
  }

  .preview__main-image {
    margin: 0 0 50px 0;
    overflow: hidden;
  }

  .preview__logo {
    height: 467px;
    opacity: 0.1;
    position: absolute;
    right: 0;
    top:134px;
  }

  .preview__car {
    width: 100%;
    max-height: 450px;
    position: relative;
    top:27px;
  }

  .preview__description {
    display: flex;
    justify-content: center;
  }

  .preview__accelerate-number, .preview__range-of-number {
    font-size: 35px;
    line-height: 41px;
    margin:0;
  }

  .preview__accelerate-text, .preview__range-of-text {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 0 8px;
  }

  .preview__accelerate-description, .preview__range-of-description {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    margin:0;
  }

  .preview__description-main, .preview__accelerate, .preview__range-of, .preview__test-drive {
    display: flex;
    align-items: center;
  }

  .preview__accelerate {
    /* margin: 0 75px 0 319px; */
    margin: 0 75px 0 0;
  }

  .preview__accelerate-img {
    width: 52px;
    height: 43px;
    margin: 0 9px 0 0;
  }

  .preview__range-of {
    margin: 0 105px 0 0;
  }

  .preview__range-of-img {
    width: 40px;
    height: 55px;
    margin: 6px 8px 0 0;
  }

  .preview__test-drive-text, .preview__order, .interior__order, .list, .safety__order {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
  }

  .preview__test-drive-img {
    margin: 0 7px 0 0;
  }

  .preview__test-drive-text {
    text-shadow:0 3px 5px gray;
    margin: 0 40px 0 0;
  }

  .preview__order, .interior__order, .safety__order {
    width: 160px;
    height: 40px;
    border: 2px solid #E51937;
    box-sizing: border-box;
    background: #fff;
    color: #E51937;
    transition: color 0.5s, background 0.5s;
  }

  .preview__order:hover {
    color: #fff;
    background:#E51937;
  }

  .preview__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height:76px;
    margin: 0 0 8px 0;
  }

  .interior {
    display: flex;
    overflow-x: hidden;
  }

  .interior__header {
    font-size: 70px;
    line-height: 85px;
    font-weight: 600;
    margin: 0;
    width: 69.4%;
    box-sizing: border-box;
    color: #E51937;
    padding: 65px 0 0 80px;
    z-index: 1;
  }

  .interior__car {
    width: 100%;
    height: 844px;
    position: absolute;
    top: 956px;
  }

  .interior__description, .safety__description {
    background-color: #E51937;
    z-index: 1;
    height: 900px;
    width: 30.6%;
    color: #fff;
  }

  .interior__description-title, .safety__description-title, .list-title {
    font-size: 30px;
    line-height: 37px;
    font-weight: 600;
    text-align: center;
    margin: 0 0 12px 0;
    padding: 51px 19px 0 0;
  }

  .interior__text, .safety__description-text {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    margin: 0;
    text-align: left;
    padding: 0 50px 0 53px;
    margin:0 0 57px 0;
  }

  .interior__display, .interior__software, .interior__trunk {
    display: flex;
    align-items: center;
    padding: 0 0 0 53px;
  }

  .interior__display {
    margin: 0 0 39px 0;
  }

  .interior__display-img {
    padding: 15px 0 0 0;
  }

  .interior__display-info {
    padding: 0 0 0 18px;
  }

  .interior__display-number, .interior__trunk-number {
    font-size: 35px;
    line-height: 42px;
    margin: 0;
  }

  .interior__display-text, .interior__trunk-text {
    font-size: 20px;
    line-height: 24px;
  }

  .interior__display-description, .interior__software-description, .interior__trunk-description {
    margin: 0;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
  }

  .interior__software {
    padding: 0 0 0 48px;
    margin: 0 0 26px 0;
  }

  .interior__software-text {
    font-size: 20px;
    line-height: 18px;
    margin: 0;
    padding: 0 50px 0 20px;
  }

  .interior__software-description {
    padding: 4px 150px 0 20px;
  }

  .interior__trunk-info {
    padding: 0 0 0 24px;
  }

  .interior__trunk-description {
    padding: 0 150px 0 0;
  }

  .interior__trunk-img {
    padding: 5px 0 0 0;
  }

  .interior__trunk {
    margin: 0 0 170px 0;
  }

  .interior__info, .safety__info {
    display: flex;
    align-items: center;
    padding: 0 0 0 50px;
  }

  .interior__info-text, .interior__info-sign, .safety__info-sign, .safety__info-text {
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
  }

  .interior__info-sign, .safety__info-sign {
    width: 18px;
    height: 18px;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin: 0 8px 0 0;
  }

  .interior__info-text, .safety__info-text {
    margin: 0 34px 0 0;
    text-transform: uppercase;
  }

  .interior__order, .safety__order {
    background: #E51937;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
  }

  .interior__order:hover, .safety__order:hover {
    background: #fff;
    color: #E51937;
  }

  .safety {
    display: flex;
  }

  .safety__scheme {
    width: 69.4%;
    overflow-x: hidden;
  }

  .safety__scheme-title {
    font-size: 200px;
    line-height: 244px;
    color: #E51937;
    opacity: 0.1;
    margin: 0;
    padding: 98px 0 0 188px;
    width: 931px;
    height: 269px;

  }

  .safety__car {
    width: 100%;
    height: 540px;
    position: absolute;
    left: 345px;
    top: 2023px;
    z-index: 2;
  }

  .safety__description-title {
    padding: 51px 15px 0 0;
    margin: 0 0 13px 0;
  }

  .safety__description-text {
    padding: 0 60px 0 55px;
    word-break: keep-all;
    margin: 0 0 56px 0;
  }

  .safety__description-list {
    margin: 0 0 94px 0;
  }

  .list-title {
    padding: 0 68px 0 0;
    margin: 0 0 27px 0;
  }

  .list {
    list-style: none;
    font-size: 17px;
    line-height: 21px;
    margin: 0;
    padding: 0 94px 0 56px;
  }

  .list__item {
    padding: 0 0 14px 0;
    display: flex;
    justify-content: space-between;
  }

  .list__item-small-text {
    font-size: 10px;
    line-height: 12px;
  }

  .list__item-star {
    background: url('image/Star.png') space, no-repeat;
    width: 140px;
    height: 23px;
  }

  .list__item-text {
    margin: 0;
    padding: 2px 0 0 0;
  }

  .shield {
    display: flex;
    justify-content: space-between;
    padding: 0 95px 0 66px;
    margin: 0 0 61px 0;
  }

  .shield-img {
    width: 62px;
    height: 74px;
    padding: 2px 0 0 0;
  }

  .shield__text {
    font-size: 50px;
    line-height: 50px;
    margin: 0;
  }

  .shield__text_small {
    font-size: 25px;
    line-height: 25px;
    padding: 0;
  }

  .safety__info {
    padding: 0 0 0 38px;
  }

  .point-1__text, .point-2__text, .point-3__text {
    font-size: 17px;
    line-height: 15px;
    position: absolute;
    margin: 0;
  }

  .point-1__text {
    left: calc(43.68%);
    top: 2022px;
    width: 172px;
  }

  .point-2__text {
    left: calc(62.78%);;
    top: 1974px;
    width: 173px;
  }

  .point-3__text {
    left: calc(66.67%);;
    top: 2481px;
    width: 233px;
  }

  .point-1__rect, .point-2__rect, .point-3__rect {
    width: 4px;
    position: absolute;
    background-color: #E51937;
    z-index: 2;
  }

  .point-1__rect {
    height: 271px;
    left: calc(42.64%);;
    top: 2023px;
  }

  .point-2__rect {
    height: 122px;
    left: calc(62%);;
    top: 1976px;
  }

  .point-3__rect {
    height: 108px;
    left: calc(65.83%);;
    top: 2400px;
  }

  .point-1__circle, .point-2__circle, .point-3__circle {
    width: 14px;
    height: 14px;
    background: #FFFFFF;
    border: 3px solid #E51937;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
  }

  .point-1__circle {
    left: calc(42.29%);;
    top: 2290px;
  }

  .point-2__circle {
    left: calc(61.67%);;
    top: 2094px;
  }

  .point-3__circle {
    left: calc(65.49%);;
    top: 2390px;
  }

  .point-3 {
    margin: 0 0 479px 0;
  }

  .developer__direction, .developer__organization {
    margin: 0 0 5px 0;
    text-align: right;
    font-weight: bold;
    font-size: 9px;
    line-height: 13px;
    padding: 0 25px 0 0;
  }

  .developer__organization {
    font-size: 19px;
    width: 93px;
    margin: 0 0 0 auto;
    padding: 0 19px 0 0;
    color: #FFD22E;
  }

  .developer__organization-small {
    color: #FFD22E;
    font-size: 11px;
    color: #000;
    font-weight: normal;
  }


@media screen and (min-width:320px) and (max-width: 640px) {
  body {
    height: 1791px;
  }

  .header__logo {
    width: 138px;
    height: 42px;
  }

  .menu-car, .menu__nav {
    display: none;
  }

  .preview__logo {
    width: 448px;
    height: 139px;
    left: calc(50% - 448px/2 - 4.5px);
    top:226px;
  }

  .preview__car {
    width: 357px;
    height: 166px;
    left: calc(50% - 357px/2);
    top:27px;
  }

  .interior__car {
    height: 337px;
  }
}

@media screen and (min-width:641px) and (max-width: 1024px) {
  body {
    height: 3073px;
  }
  .menu-car, .menu__nav {
    display: none;
  }

  .preview__description {
    flex-direction: column;
    align-items: center;
  }

  .preview__logo {
    width: 821.81px;
    height: 271.49px;
    left: calc(50% - 821.81px/2);
  }

  .preview__car {
    width: 672.6px;
    height: 327.6px;
    left: calc(50% - 672.6px/2);
  }

  .interior__car {
    height: 500.82px;
  }

  .safety__car {
    width: 750.15px;
    height: 386.16px;
    left: calc(50% - 750.15px/2 - 25.07px);
  }
}

@media screen and (min-width:1025px) and (max-width: 1280px) {
  .preview__logo {
    width: calc(105.14%);
  }

  .preview__car {
    width: 968px;
    left: calc(50% - 968px/2);
  }

  .interior__car {
    width: 88.4%;
  }

  .safety__car {
    width: 1049px;
    left: calc(23.96%);
  }
}

@media screen and (min-width:1281px) {
  .preview__logo {
    width: calc(105.14%);
  }
  .preview__car {
    width: 968px;
    left: calc(50% - 37px - 968px/2);
  }

  .interior__car {
    width: 88.4%;
  }

  .safety__car {
    width: 1049px;
    left: calc(23.96%);
  }
}
